@import "tailwindcss";

:root {
  --background: #f8f5f0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sage-light: #d1e0d0;
  --color-sage: #8ba888;
  --color-sage-dark: #5a7257;
  --color-cream: #f8f5f0;
  --color-gold: #d4af37;
  --color-sand: #e8d6c3;
  --keyframes-breathe: 0%, 100% { transform: scale(1); background-color: #d1e0d0; } 50% { transform: scale(1.1); background-color: #8ba888; }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}
